#buy-form {
	margin: 0px;
    padding: 0px;
	font-size: 14px;
    font-family: "Courier New", "Microsoft Yahei", "Arial", "sans-serif";
}

#buy-form #dialog-sub-title {
	background-color: rgb(20,100,150);
    height: 45px;
    line-height: 45px;
    color: #EEE;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
}
#buy-form .buy-form-wrapper-div {
	height:45px;
	float:left;
	width:100%;
}

#buy-form .buy-form-left {
	font-size: 15px;
    line-height: 45px;
    width: 125px;
    text-align: right;
    margin-right: 10px;
	height: 45px;
}
#buy-form .buy-form-input {
    font-size: 14px;
    font-family: "Courier New", "Microsoft Yahei", "Arial", "sans-serif";
    width: 300px;
    height: 30px;
    margin-top: 7px;
    margin-left:0px;
}

#buy-form .buy-form-wrapper-div div,
#buy-form .buy-form-wrapper-div input {
	float:left;
}

#buy-form #order-name {
	line-height:45px;
	width:300px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Courier New", "Microsoft Yahei", "Arial", "sans-serif";
}
#buy-form #send-time {
	width:300px;
	line-height:45px;
}
#buy-form #order-price {
	line-height:40px;
	color:#C40000;
	font-size:24px;
	font-weight:700;
	font-family: "Microsoft Yahei", "Arial", "sans-serif";
	line-height: 45px;
	width:300px;
}

#buy-form .order-button {
	float: left;
    width: 120px;
    background-color: rgb(20,100,150);
    color: #EEE;
    margin: 25px 23px 0px 23px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#buy-form #price-comment {
	line-height: 45px;
    font-size: 12px;
    color: #666;
    padding-left: 10px;	
}


